#crearPostBody {
    background-image: url('../img/img-fondo-crearPost.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}